**/*.dll
**/*.exe
**/*.o
**/*.obj
**/*.a
**/*.so
**/*.dylib
**/*.pdb
**/*.dSYM/
build/*
bin-*/*
cmake-build-*/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/CTestTestfile.cmake
**/CMakeScripts/
distrib/build_*/*
**.bak
**.orig
screenshot.bmp
*.pyc
Thumbs.db
OpenGL-tutorial_v*
**.mtl
.DS_Store
**/*.xcodeproj/
**/*.xcworkspace/
**/*.xcuserdata/
**/*.xcuserstate
**/DerivedData/
opengl-tutorials_bin_XCode/
